@keyframes ldio-h8jpm9maxb8-r {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { transform: scale(0.7000000000000001) rotate(180deg) }
    25% { transform: scale(0.7000000000000001) rotate(270deg) }
    50% { transform: scale(0.7000000000000001) rotate(360deg) }
    75% { transform: scale(0.7000000000000001) rotate(450deg) }
    100% { transform: scale(0.7000000000000001) rotate(540deg) }
}
@keyframes ldio-h8jpm9maxb8-z {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(1) }
    50% { transform: scale(1) }
    100% { transform: scale(.5) }
}
@keyframes ldio-h8jpm9maxb8-p {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(0) }
    50% { transform: scale(1) }
    100% { transform: scale(1) }
}
@keyframes ldio-h8jpm9maxb8-c {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { background: #e15b64 }
    25% { background: #f47e60 }
    50% { background: #f8b26a }
    75% { background: #abbd81 }
    100% { background: #e15b64 }
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ldio-h8jpm9maxb8 > div {
    animation: ldio-h8jpm9maxb8-r 7.692307692307692s linear infinite;
    transform-origin: 100px 100px;
}
.ldio-h8jpm9maxb8 > div > div {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: ldio-h8jpm9maxb8-z 1.923076923076923s linear infinite;
    transform-origin: 200px 200px;
}
.ldio-h8jpm9maxb8 > div > div div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #e15b64;
    transform-origin: 50px 50px
}
.ldio-h8jpm9maxb8 > div > div div:nth-child(1) {
    left: 0px;
    top: 0px;
    animation: ldio-h8jpm9maxb8-p 1.923076923076923s linear infinite, ldio-h8jpm9maxb8-c 7.692307692307692s linear infinite;
}
.ldio-h8jpm9maxb8 > div > div div:nth-child(2) {
    left: 100px;
    top: 0px;
    animation: ldio-h8jpm9maxb8-p 1.923076923076923s linear infinite, ldio-h8jpm9maxb8-c 7.692307692307692s linear infinite;
}
.ldio-h8jpm9maxb8 > div > div div:nth-child(3) {
    left: 0px;
    top: 100px;
    animation: ldio-h8jpm9maxb8-p 1.923076923076923s linear infinite, ldio-h8jpm9maxb8-c 7.692307692307692s linear infinite;
}
.ldio-h8jpm9maxb8 > div > div div:nth-child(4) {
    left: 100px;
    top: 100px;
    transform: scale(1);
    animation: ldio-h8jpm9maxb8-c 7.692307692307692s linear infinite
}
.loadingio-spinner-chunk-iu8m6z8safl {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-h8jpm9maxb8 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-h8jpm9maxb8 div { box-sizing: content-box; }
/* generated by https://loading.io/ */